.column1 {
    margin: auto;
    float: left;
    width: 33.33%;
    background-color: rgb(198, 245, 198);
    padding-bottom: 600px;
    
  }

.div2{
    width: 400px;
    height: 300px;
    background-color: lightblue;
    margin-bottom: 0px;
    padding-bottom: 280px;
}

.para1{
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
}
.inp1{
    margin-left: 40px;
    height: 25px;
    background-color: whitesmoke;
}
.btn1{
    background-color: rgb(60, 202, 250);
    width: 90px;
    height: 35px;
    color: rgb(231, 58, 58);
    font-weight: bold;
    margin-left: 150px;
    border: none;
}

.para2{
    text-align: center;
}


.column2 {
    text-align: center;
    float: left;
    width: 33.33%;
    background-color: lightblue;
  }
  .column3 {
    text-align: center;
    float: left;
    width: 33.33%;
    background-color: rgb(131, 204, 200);
    padding-bottom: 548px;
  }